@charset "UTF-8";

@font-face {
    font-family: "Lmao";
    src: url("../FONTS/lmao.otf") format("opentype");
}

:root {

    
    --fonte: "Lmao", Arial;
}

body {
    margin: 0px;
    font-family: var(--fonte);
}

h1 {
    text-align: center;
    font-size: 3em;
}

main {
    background-color: white;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    padding:10px;
}


main p {
    text-align: center;
    color: black;
    padding-top: 30px;
    font-size: 42px;
}

img {
    padding-top: 15px;
    margin: auto;
    display: block;
    width: 270px;
    height: 260px;
}

footer > p {
    text-align: center;
    font-size: 42px;
}

p#info {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 23px;
}